/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
#heading{
    height: 150px;
    justify-items: center;
}
body{
   font-family:Arial, sans-serif;
    background:#eef5ff;
    color:#333;
}

/* Heading */
header{
    background:#75b6e1;
    text-align:center;
    padding:25px;
    border-bottom:4px solid #6691d5;
}

header img{
    width:170px;
    height:50px;
    border-radius:10px;
    background:rgb(216, 221, 223);
    padding:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

header h1{
    color:#222;
    
    margin-top:10px;
    font-size:50px;
}

header p{
    color:#f9f9f9;
    font-size:18px;
}


h3 {
    color: #555;
     
    margin: 10px 0;
}

/* Login Link */
a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* Form */
form {
    width: 600px;
    margin: 30px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Registration Title */
form p {
    font-size: 30px;
    color: #0b3d91;
    margin-bottom: 20px;
}

/* Table */
table {
    width: 100%;
    border-spacing: 15px;
}

/* Labels */
td:first-child {
    font-weight: bold;
    width: 35%;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #2196F3;
    outline: none;
    box-shadow: 0 0 5px #2196F3;
}

/* Radio & Checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 10px;
}

/* Buttons */
button {
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Register Button */
button[type="submit"] {
    background-color: #28a745;
    color: white;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Clear Button */
button[type="reset"] {
    background-color: #dc3545;
    color: white;
}

button[type="reset"]:hover {
    background-color: #c82333;
}

/* Horizontal Line */
hr {
    margin: 25px 0;
}

/* Footer */
small {
    color: #222;
    font-size: 14px;
}

/* Logo */
img {
    width:200px;
    height:70px;
    border-radius:10px;
    background:white;
    padding:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Responsive */
@media (max-width: 650px) {
    form {
        width: 95%;
        padding: 15px;
    }

    table,
    tr,
    td {
        display: block;
        width: 100%;
    }

    td {
        margin-bottom: 10px;
    }

    td:first-child {
        margin-top: 10px;
    }

    button {
        width: 100%;
        margin: 8px 0;
    }
}